@use "@/shared/styles/common.module.scss" as common;

.userList {
    background: white;
}

.tableButton {
    font-size: 10px;
    margin: 5px;
    &:hover {
        background-color: #313131;
        transform: translateY(2px);
    }
}

.tableButtonRemove {
    font-size: 10px;
    margin: 5px;
    &:hover {
        border: 1px solid #cb1919;
        background-color: #cb1919;
        color: #fff;
        transform: translateY(2px);
    }
}